version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "1111"
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"   # optional, only if you want access from host
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 30

  redis:
    image: redis:7
    ports:
      - "6379:6379"   # optional
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 30

  medusa:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BACKEND_DIR: .
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

    environment:
      HOST: 0.0.0.0
      PORT: "9000"

      # IMPORTANT: use service names, not localhost
      DATABASE_URL: postgresql://postgres:1111@postgres:5432/postgres
      REDIS_URL: redis://redis:6379

      JWT_SECRET: supersecret
      COOKIE_SECRET: supersecret

      MEDUSA_ADMIN_ONBOARDING_TYPE: nextjs
      MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY: aitronics-storefront

      STORE_CORS: https://aitronics.in
      ADMIN_CORS: https://adm.aitronics.in
      AUTH_CORS: https://aitronics.in,https://adm.aitronics.in

      MEDUSA_TELEMETRY_DISABLED: "1"

    ports:
      - "9000:9000"

volumes:
  pgdata:
